.produtos{
    width:20rem;
    border-radius:.5rem .5rem 0 0;

}
main{
    display:flex;
    width:80vw;
    margin: auto;
    justify-content:space-between;
}
.Container{
    padding:2rem;
    justify-content: space-evenly;
    display:flex;
    background: var(--dark-blue);
}

.card{
   
    background: rgb(246,246,246);
    border-radius:.5rem;
}

span{
    color: rgb(255, 255, 255);
}

.Description{
    padding: 0 0 2rem 2rem;
    text-align: left;
}
