.produtos{
    width:15rem;
    border-radius:.5rem .5rem 0 0;

}
main{
    display:flex;
    width:80vw;
    margin: auto;
    justify-content:space-between;
}
.Container{
   
    padding:2rem;
    justify-content: space-evenly;
    display:flex;
   
}

.card{
    background: white;
    border-radius:.5rem;
}

span{
    color: rgb(255, 255, 255);
}

.Description{
    padding: 0 0 2rem 2rem;
    text-align: left;
}

h3{
    font-weight: 200;
}
